{% extends "globalHub/layout.html" %} 
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'globalHub/about.css' %}" />
{% endblock css %}

{% block body %}
  <div id="about">
    <div class="title">
      <span>Global<span>Hub</span></span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue augue nisl, mattis commodo. Lacus curabitur quam risus convallis tortor in. Nec consectetur odio nisl ullamcorper. Elementum, commodo, diam, curabitur vel ut ultrices. Neque, maecenas feugiat sed id mattis ultrices sodales. At habitasse volutpat risus elit lobortis facilisis dui. Volutpat augue condimentum eros orci, sit nullam viverra feugiat. Quis bibendum ipsum non fringilla purus non turpis scelerisque eu. Nibh auctor mauris blandit elementum nunc, lectus lobortis tristique enim. Sollicitudin enim lectus lectus vitae orci, suspendisse tortor non. Et amet, adipiscing sapien adipiscing et posuere. A urna amet amet sed aliquam viverra vel. Ut felis molestie viverra id duis suspendisse cursus id. Elementum fermentum hendrerit blandit morbi dui magna.
      At dui mus enim, est erat pharetra, elementum felis. Sociis urna, bibendum nunc aliquam aenean nibh. Aliquet sed augue nunc aliquam feugiat lobortis egestas. Consequat mus viverra quam libero. Lacinia adipiscing neque consequat purus dignissim id a. Pretium congue faucibus massa commodo amet. Ac lorem feugiat dictum proin convallis eget id. Velit purus sodales ullamcorper diam tellus. Nunc sodales feugiat massa, pellentesque. Amet feugiat malesuada lobortis arcu, nibh. Nascetur porta dignissim odio netus non. Vulputate porta aliquet pulvinar fringilla tortor in. Sagittis ipsum vulputate maecenas tellus, diam iaculis vitae amet. Iaculis ut aliquet proin amet.
      Dapibus tincidunt adipiscing nec, amet. Magna aliquam vestibulum tellus amet ipsum vitae. Ut sagittis in lectus nisl auctor curabitur mi praesent sed. Quam cursus mi sed ut. Viverra mauris non placerat at tellus turpis sit convallis. Mi amet, tristique venenatis ut blandit purus ut quis. Gravida in eget nisi, praesent id placerat etiam. Bibendum quisque sed vitae quis morbi. Viverra nisl curabitur euismod sit euismod elementum fames egestas. Egestas platea egestas eu sapien. Rhoncus, duis amet, fames tortor in condimentum. Ipsum purus morbi vel in et netus.
      Nunc, id suspendisse mattis aliquet lorem sed ipsum suspendisse pretium. Blandit sit maecenas in diam donec est erat urna donec. In eu, dolor enim massa lorem lectus nunc. Dignissim fringilla at malesuada et orci. Mauris duis arcu.
    </p>
  </div>
{% endblock body %}




