{% extends "globalHub/layout.html" %} 
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'globalHub/services.css' %}" />
{% endblock css %}

{% block body %}
  <div id="services_page">
    <div class="side_navbar">
      {% for service in services %}
        <a class="nav_item nav_item{{forloop.counter0}}"> 
          {{service.name_of_service}}
        </a>
      {% endfor %}

    </div>
    <div class="spacer"></div>
    <div class="services">
      {% for service in services %}
        <div class="service service{{forloop.counter0}}" {% if number == forloop.counter0 %} id="destination_service" {% endif %}>
          <span class="title">
            {{service.name_of_service}}
          </span>
          <p>
            {{service.description_of_service}}
          </p>
          <img src="{% static service.image_url %}">
        </div>
      {% endfor %}

    </div>
  </div>

  {% block script %}
    <script src="{% static 'globalHub/js/services.js' %}"></script>
  {% endblock script %}
{% endblock body %}




