{% load static %}

<div id="banner">
  <div class="body">
    <div class="content">
      <div class="title">
        <span style="font-size: 34px"> Quick & Reliable </span>
        <span style="font-size: 34px; font-weight: bold"> Dropship! </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit.
      </p>
      <button class="btn btn-secondary" id="request-quote-button">
        REQUEST A QUOTE
      </button>
    </div>
    <img
      src="{% static 'globalHub/assets/images/shipment.png' %}"
      alt="shipment image"
    />
  </div>
  <div class="footer">
    <div class="contacts">
      <div class="contact-container">
        <div class="contact">
          <img
            src="{% static 'globalHub/assets/images/carbon_phone-filled.svg' %}"
            alt="phone"
          />
        </div>
        <span class="value"> {{contact_info.phone_number}} </span>
      </div>
      <div class="contact-container">
        <div class="contact">
          <img
            src="{% static 'globalHub/assets/images/entypo_email.svg' %}"
            alt="email"
          />
        </div>
        <span class="value"> {{contact_info.email}} </span>
      </div>
    </div>
    <div class="social-medias">
      <div class="social-media">
        <a href="{{contact_info.facebook_url}}">
          <img
            src="{% static 'globalHub/assets/images/facebook.svg' %}"
            alt="facebook"
          />
        </a>
      </div>
      <div class="social-media">
        <a href="{{contact_info.telegram_url}}">
          <img
            src="{% static 'globalHub/assets/images/cib_telegram-plane.svg' %}"
            alt="telegram"
          />
        </a>
      </div>
      <div class="social-media">
        <a href="{{contact_info.instagram_url}}">
          <img
            src="{% static 'globalHub/assets/images/ant-design_instagram-filled.svg' %}"
            alt="telegram"
          />
        </a>
      </div>
    </div>
  </div>
</div>
