{% load static %}

<div id="request-quote">
  <div class="title">
    <span>Request a <span>Quote</span> </span>
  </div>
  <form>
    <div class="section">
      <span class="title"> PERSONAL DATA </span>
      <div class="row">
        <div class="col-4">
          <input
            class="form-control"
            name="name"
            type="text"
            placeholder="Name"
          />
        </div>
        <div class="col-4">
          <input
            class="form-control"
            name="email"
            type="email"
            placeholder="Email"
          />
        </div>
        <div class="col-4">
          <input
            class="form-control"
            name="phoneNumber"
            type="number"
            placeholder="Phone Number"
          />
        </div>
      </div>
    </div>
    <div class="section">
      <span class="title"> SHIPMENT DATA </span>
      <div class="row">
        <div class="col-4">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-bs-toggle="dropdown"
            >
              Freight Type
              <img
                src="{% static 'globalHub/assets/images/ep_arrow-down-bold.svg' %}"
                alt="dropdown icon"
              />
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for freightType in freightTypes %}
              <span class="dropdown-item" data-id="{{freightType.id}}"
                >{{freightType}}</span
              >
              {% endfor %}
            </div>
          </div>
          <input type="hidden" name="freightType" />
        </div>
        <div class="col-4">
          <input
            class="form-control"
            name="departureCity"
            type="text"
            placeholder="City of Departure"
          />
        </div>
        <div class="col-4">
          <input
            class="form-control"
            name="deliveryCity"
            type="text"
            placeholder="Delivery City"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <input
            class="form-control"
            name="height"
            type="text"
            placeholder="Height"
          />
        </div>
        <div class="col-3">
          <input
            class="form-control"
            name="width"
            type="text"
            placeholder="Width"
          />
        </div>
        <div class="col-3">
          <input
            class="form-control"
            name="length"
            type="number"
            placeholder="Length"
          />
        </div>
        <div class="col-3">
          <input
            class="form-control"
            name="weight"
            type="text"
            placeholder="Weight"
          />
        </div>
      </div>
      <div class="checkboxes-container">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            name="fragile"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Fragile
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            name="expressDelivery"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Express Delivery
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            name="insurance"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Insurance
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            name="packaging"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Packaging
          </label>
        </div>
      </div>
    </div>
    <div class="spinner-border text-warning d-none" role="status"></div>
    <button class="btn btn-secondary" type="submit">SUBMIT</button>
    <div
      id="quote-toast"
      aria-live="assertive"
      aria-atomic="true"
      role="alert"
      class="toast bg-success success-toast"
      style="position: fixed; top: 10px; right: 10px"
    >
      <div class="toast-body">Quote has been created successfully</div>
    </div>
  </form>
</div>
