{% load static %}

<div id="services">
    <div class="title">
      <span>
        Delivering The Best Global
      </span>
      <span>
        Logistics Solutions
      </span>
    </div>
    <div class="cards">
      {% include 'globalHub/components/cards/service-card.html' with title="Air Freight" imgUrl="globalHub/assets/images/Aireplane.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Ocean Freight" imgUrl="globalHub/assets/images/ship.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Road Freight" imgUrl="globalHub/assets/images/Truck.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Clearance" imgUrl="globalHub/assets/images/Form.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Post Courier" imgUrl="globalHub/assets/images/material-symbols_local-post-office-outline.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Domestic" imgUrl="globalHub/assets/images/departure.svg" %}
      {% include 'globalHub/components/cards/service-card.html' with title="Storage" imgUrl="globalHub/assets/images/warehouse.svg" %}
    </div>
  </div>