{% load static %}

<div class="reason reason-left">
  <div class="img-container">
    <img src="{% static imgUrl %}" alt="airplane" />
  </div>
  <div class="content">
    <span class="id">{{id}}</span>
    <span class="title">{{title}}</span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. A lorem lectus a
      egestas id. Donec non elementum id sagittis nisl est congue consectetur.
      Porttitor dolor, potenti lorem massa eu, euismod. Mi egestas in sagittis
      risus. Porta nisi, purus odio venenatis nisl imperdiet enim adipiscing.
      Sagittis, ut ultrices diam integer suspendisse vitae quam et.
    </p>
  </div>
</div>
