#contact {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact > .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .title span {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-dark-x2);
}

#contact .title span span {
  color: var(--secondary-light);
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 5%);
  align-items: start;
}

#contact form .section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

#contact form .section .row {
  gap: 10px;
}

#contact form .section .row input {
  flex: 1;
}

#contact form button[type="submit"] {
  font-size: 16px;
  padding: 12px 40px;
}

/******** responsive **********/

@media only screen and (max-width: 500px) {
  #contact form .section .row {
    gap: 20px;
    flex-direction: column;
  }

  #contact form {
    align-items: center;
  }
}
